{%extends "ChassorCoreBundle::layout-error.html.twig" %}

{% block body %}
<div class="redWrapper">
<div class="content">
<div class="textContent">

    <img src="{{ asset('bundles/chassorcore/img/error.png') }}" class="logo" />
    <h1>Page introuvable !</h1>
    <p style="text-align:center">Si vous n'arrivez déjà pas à trouver la bonne page, comment pouvez-vous espérer trouver le trésor ?</p>

</div>
</div>
</div>
{% endblock body %}
