{%extends "ChassorCoreBundle::layout-error.html.twig" %}

{% block body %}
<div class="redWrapper">
<div class="content">
<div class="textContent">

    <img src="img/error403.png" class="logo" />
       
       <h1>Accès refusé !</h1>
       <p style="text-align:center">Qu'est-ce que vous faite là ?! Vous n'avez pas accès à cette partie du site. Oust !</p>
</div>
</div>
</div>
{% endblock body %}
