{%extends "ChassorCoreBundle::layout-error.html.twig" %}

{% block body %}
<div class="redWrapper">
<div class="content">
<div class="textContent">

    <img src="img/error.png" class="logo" />
       
       <h1>Zut, Erreur serveur !</h1>
       <p style="text-align:center">Si vous n'avez pas des outils fiables en mains, comment pouvez-vous espérer trouver le trésor ?!<br/><a href="mailto:contact@chassor.com">Signaler le problème</a></p>
</div>
</div>
</div>
{% endblock body %}
