{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}

<div class="textContent">
			        <h1>&Agrave; propos</h1>
			        
			        <h2>Qu'est-ce que Chassor ?</h2>
					<p>Contraction de "Chasse au trésor", Chassor est une initiative indépendante qui organise des chasses au trésor grandeur nature dans les grandes villes de France. Pour sa toute première édition Chassor débarque à Rouen et propose aux Rouennais de participer à ce premier jeu d'enquête géante.</p>

					<p>Pendant l'été, les énigmes de Chassor entraineront nos joueurs aux quatre coins de l'agglomération de Rouen à la découverte de son patrimoine, son histoire et de ses lieux historiques et insolites. </p>

					<p>Tous n'auront qu'un seul but : être le plus malin, être le plus rapide, être le premier à trouver le lieux où est caché le trésor.</p>

					<p>Avis aux curieux, aux malins, aux passionnés d'histoires, aux amateurs de casse-tête, au amoureux de Rouen, aux résolveurs d'énigmes, à tous ceux qui veulent s'amuser cet été : Chassor débarque à Rouen.</p>

			        <h2>Pourquoi Chassor ?</h2>

					<p>Parce que c'est passionnant pardi !</p>

					<p>Derrière Chassor, point de publicité déguisée, point d'événement sponsorisé, point de grande institution, point de société. Juste deux amateurs, passionnés de jeu et d'événement se lançant, pour le plaisir, le défi de créer un jeu passionnant autour de nos villes.</p>

					<p>Mais ce n'est pas une raison pour ne pas faire les choses bien, ce n'est pas une raison pour ne pas voir les choses en grand. Chassor, c'est plus de 5 mois d'organisation, des partenaires nants pour créer un jeu de grande envergure qui durera au moins 2 mois, pouvant réunir des milliers de joueurs autour de plus d'une vingtaine d'énigmes inédites.</p>

			        <h2>A qui s'adresse Chassor ?</h2>

					<p>Pour tous les habitants de l'agglomération de Rouen souhaitant participer à la recherche du trésor au travers d'un jeu amusant, intelligent et original.</p>

					<p>Accessible à tous, seul, entre amis ou en famille, il faudra surtout ne pas hésiter à faire fonctionner ses neurones ! Autant vous le dire tout de suite, il vous faudra faire fonctionner votre matière grise; Il vous faudra décoder, chercher, vous déplacer très souvent aux quatre-coins de l'agglo. Vous y découvrirez des lieux agréables et parfois méconnu, vous y découvrirez des bribes de l'histoire de la ville aux cents clochers.<br/>
Pour tous ceux que cela intrigue de savoir qu'en ce moment, dans un lieux publique et accessible de l'agglo est caché un trésor.<br/>
Pour tous ceux qui souhaitent s'occuper de manière originale cet été.<br/>
Pour tous ceux qui adorent découvrir et jouer.<br/>
Pour tous…</p>

			        <h2>Quand se déroule Chassor ?</h2>

					<p>Les premières énigmes seront diffusées le 1er juillet, et les dernières énigmes seront diffusées le 19 août. La chasse se termine dès qu'un participant découvre le trésor, mais vous pouvez quand même continuer le jeu jusqu'au bout.</p>

			        <h2>Où se déroule Chassor ?</h2>

					<p>Dans Rouen et son agglomération.</p>

			        <h2>Quel est le matériel nécessaire pour participer ?</h2>

					<p>Il vous faudra :</p>

					<p>Une connexion internet pour consulter les énigmes et y répondre.<br />
Une carte et une boussole et/ou un gps pour trouver les indices et le trésor.<br />
Un moyen de transport quelconque pour vous déplacer dans l'agglomération de Rouen.<br />
Recommandé : un smartphone pour pouvoir donner la réponse à une énigme rapidement quand il faut se déplacer.</p>
					<h2>Quel temps faudra-t-il consacrer à Chassor ?</h2>

					<p>Les énigmes seront disponibles avec une moyenne de 5 ou 6 tous les 15 jours. La plupart ne seront pas limitées dans le temps.</p>

			        <h2>Combien coute Chassor ?</h2>

					<p>L'inscription est fixée à 5 euros. Des pièces d'or (monnaie virtuelle du jeu) peuvent être utilisées pour débloquer des indices sur les énigmes.<br />Vous pouvez acheter ces pièces d'or avec des euros (monnaie réelle de la vraie vie) ou en gagner en résolvant des énigmes. Cependant les pièces d'or ne sont pas indispensables.</p>
					
					<p>Les fonds servent notamment à financer le trésor, plus il y aura de joueur, plus de le trésor sera mirobolant ! Alors n'hésitez pas à en faire la promotion auprès de vos amis</p>
					
					
		        </div>
		        
		        {% if not is_granted("ROLE_USER") %}
    <div class="linksContainer">
        <a href="{{ path('fos_user_registration_register') }}" class="go"><span><strong>5</strong>&euro;</span>
            Créer mon compte
            <img src="{{ asset('bundles/chassorcore/img/home_links_a_arrow.png') }}" class="arrow" /></a>
        
        <div class="clearfix"></div>
    </div>
    <p class="why">
        <a href="#" class="box">Pourquoi l'inscription à Chassor est-elle payante ?
        <span>
        <strong>Pour faire un chouette trésor !</strong><br/>
        Le trésor de Chassor est financé par vos inscriptions ! Comme pour une loterie, plus il y a de joueurs, plus le gain est important !
        <img src="{{ asset('bundles/chassorcore/img/box_onglet.png') }}" />
        </span>
        </a>
    </p>
    {% endif %}
{% endblock content %}
		        