{%extends "ChassorCoreBundle::layout.html.twig" %}


{% block body %}

<div style="margin: auto">
Chassor</h1>
</div>

<h2>Qu'est-ce que Chassor ?</h2>
<p>Chassor est une chasse au trésor organisée sur l'été dans l'agglomération rouennaise. Des énigmes seront diffusées régulièrement et il faudra assembler leur réponses pour découvrir l'emplacement du trésor.</p>

<h2>Qui organise Chassor ? Pourquoi ?</h2>
<p>Par Mathieu et Raphaël, pour le fun !</p>

<h2>A qui s'adresse Chassor ?</h2>
<p>A tous les chasseurs de trésor de 7 à 77 ans. Il faut juste savoir lire et se repéré basiquement sur une carte (google map suffit), et avoir quelques neurones fonctionnels pour résoudre les énigmes.</p>

<h2>Quand se déroule Chassor ?</h2>
<p>Les premières énigmes seront diffusées le 1er juillet, et les dernières énigmes seront diffusées le 19 août. La chasse se termine dès qu'un participant découvre le trésor, mais vous pouvez quand même continuer le jeu jusqu'au bout.</p>

<h2>Où se déroule Chassor ?</h2>
<p>Dans Rouen et son agglomération.</p>

<h2>Quel est le matériel nécessaire pour participer ?</h2>
<p>Il vous faudra :
<ul>
  <li>Une connexion internet pour consulter les énigmes et y répondre.</li>
  <li>Une carte et une boussole et/ou un gps pour vous trouver les indices et le trésor.</li>
  <li>Un moyen de transport quelconque pour vous déplacer dans l'agglomération de Rouen.</li>
  <li>Recommandé : un smartphone pour pouvoir donner la réponse à une énigme rapidement quand il faut se déplacer.</li>
</ul>
</p>

<h2>Quel temps faudra-t-il consacrer à Chassor ?</h2>
<p>Les énigmes seront disponibles avec une moyenne de 5 ou 6 tous les 15 jours. La plupart ne seront pas limitées dans le temps.</p>

<h2>Combien coute Chassor ?</h2>
<p>L'inscription est fixée à 5 euros. Des pièces d'or (monnaie virtuelle du jeu) peuvent être utilisées pour débloquer des indices sur les énigmes. Vous pouvez acheter ces pièces d'or avec des euros (monnaie réelle de la vraie vie) ou en gagner en résolvant des énigmes. Cependant les pièces d'or ne sont pas indispensables. Vous pouvez également acheter des goodies et des t-shirts Chassor.</p>

<h2>Où est le trésor ?</h2>
<p>Ha ha, bien tenté. Pour le découvrir il vous faudra répondre aux énigmes !</p>

<h2>Quel est le trésor ?</h2>
<p>Le premier prix est un ipad mini. Des lots seront également attribués aux 2e et 3e meilleurs participants.</p>

<h2>Comment sont classés les participants ?</h2>
<p>La première place est attribuée au participant qui découvre le trésor. Ensuite les autres participants sont classés suivant le nombre d'énigmes résolues et la rapidité de résolution de ces énigmes.</p>

<h2>Est-il possible de soudoyer les organisateurs ?</h2>
<p>Oui. Vous pouvez nous envoyer un chèque d'une modique somme de 1000 euros, et nous vous enverrons un lot équivalent au 1er prix.</p>

{% endblock body %}
