{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}

<div class="textContent">
    <h1>Discussion</h1>
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'foo'} %}
    
</div>			        
{% endblock content %}
		        
