{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}

<div class="textContent">
<h1>Comment jouer ?</h1>

<h2>Introduction</h2>
<p>Cette page &agrave; pour but de vous expliquer les rouages du site. Nous essayons de faire le plus clair possible et nous viendrons apporter ici les pr&eacute;cisions n&eacute;cessaire au fur et &agrave; mesure.</p>

<p>Les informations ci-dessous vous permettront de jouer "mieux", de moins perdre votre temps et de mieux comprendre le jeu.</p>

<h2>Vid&eacute;o explicative</h2>

<p>Mais plut&ocirc;t que des longs discours, commen&ccedil;ons par une vid&eacute;o explicative qui d&eacute;taille les bases de Chassor.</p>

<p><iframe width="100%" height="424" src="http://www.youtube.com/embed/_pGRqKErSnQ?rel=0" frameborder="0" allowfullscreen></iframe></p>

<h2>Les &eacute;nigmes</h2>

<p>Chassor est une chasse au tr&eacute;sor comptant 26 &eacute;nigmes. Ce n'est pas un jeu facile, c'est une volont&eacute; de notre part pour qu'il y ait un r&eacute;el d&eacute;fi.</p>

<p style="text-align:center"><strong><em>&laquo; &Agrave; vaincre sans p&eacute;ril, on triomphe sans gloire &raquo;</em></strong></p>

<p>Pour certaines de ces &eacute;nigmes vous devrez donc vous creuser la t&ecirc;te des heures, voir des jours. Mais si nous avons voulu cette chasse difficile, nous l'avons tout de m&ecirc;me voulu faisable. Ne baissez pas les bras, vous &ecirc;tes parfois tr&egrave;s proche de la r&eacute;ponse. Les autres joueurs sont comme vous.</p>

<p>Pour vous aider, nous vous rappelons que :<br />
- nous avons voulu cr&eacute;er un jeu qui ne se passe pas enti&egrave;rement derri&egrave;re son &eacute;cran : pour bon nombre des &eacute;nigmes <strong>vous devrez vous d&eacute;placer</strong> pour chercher de vos propres yeux, la r&eacute;ponse n'est pas ailleurs ;<br />
- vous pouvez tester vos r&eacute;ponses sur place si vous disposez d'un smartphone ou d'une tablette avec internet, cela vous &eacute;vitera de vos d&eacute;placer plusieurs fois ;<br/>
- soyez malins, trouvez des outils ou des m&eacute;thodes, faites-vous aider ;<br />
- nous avons essay&eacute; de relier les &eacute;nigmes et les r&eacute;ponses &agrave; l'histoire, qu'elles aient un minimum de sens ou qu'elles soient assez claires : "barri&egrave;re", "arbre" ou "le plafond odorant du joueur de poubelle" ont peu de chance d'&ecirc;tre des r&eacute;ponses valables, m&ecirc;me si elles nous font bien rire parfois.
</p>

<h2>Les r&eacute;ponses</h2>

<p>Vous devez taper vos r&eacute;ponses dans le champ en bas &agrave; gauche de l'&eacute;cran des &eacute;nigmes. En g&eacute;n&eacute;ral les r&eacute;ponses sont simple et claire : il s'agit d'un chiffre ou d'un petit groupe de mots, voir un seul mot. Pour quelques &eacute;nigmes, le format attendu est sp&eacute;cial (une phrase, une date, etc.), dans ce cas le format ou le nombre de lettre vous est pr&eacute;cis&eacute;.</p>

<p>Nous avons essay&eacute; de faire en sorte que les r&eacute;ponses aux &eacute;nigmes soit sens&eacute;es ou reli&eacute;es &agrave; l'histoire, c'est bien plus un jeu de r&eacute;flexion que de hasard. Nous vous conseillons donc de bien r&eacute;fl&eacute;chir en amont de vos propositions plut&ocirc;t que d'essayer toutes les possibilit&eacute;s.</p>

<h2>Validation des r&eacute;ponses</h2>

<p>Pour que vous ayez une r&eacute;ponse imm&eacute;diate nous avons mis en place un syst&egrave;me de validation automatique de vos r&eacute;ponses. Ce syst&egrave;me se base sur une s&eacute;rie de r&eacute;ponses consid&eacute;r&eacute;es comme juste &agrave; laquelle votre r&eacute;ponse est compar&eacute;e. Cette comparaison ignore :
<br/>- le format de votre texte. Ces r&eacute;ponses sont &eacute;quivalentes : "Marcel" / "marcel" / "MARCEL" ;
<br />- les caract&egrave;res sp&eacute;ciaux. Ces r&eacute;ponses sont &eacute;quivalentes : "f&ecirc;te d'&eacute;t&eacute;" / "fete d'ete" / "fete d ete" / "fete ete".</p>

<p>En parall&egrave;le de ce syst&egrave;me de validation automatique de r&eacute;ponse nous disposons d'un syst&egrave;me de validation manuelle. Il se peut que nous consid&eacute;rions comme juste une r&eacute;ponse que le syst&egrave;me automatique vous avait pr&eacute;c&eacute;demment indiqu&eacute; comme fausse. Dans ce cas vous recevrez un e-mail vous pr&eacute;venant que l'une de vos r&eacute;ponses &agrave; &eacute;t&eacute; valid&eacute;e. Rassurez-vous, vous &ecirc;tes donc &agrave; l'abri d'un bug du syst&egrave;me et si vos r&eacute;ponses ne sont pas valid&eacute;es, c'est qu'elles sont r&eacute;ellement fausses !</p>

<h2>Les indices</h2>

<p>Parfois vous pourrez &ecirc;tre bloqu&eacute;s sur une &eacute;nigme. Et malgr&eacute; vos noeuds au cerveau, l'appel &agrave; un ami et l'avis du public, la r&eacute;ponse ne vient pas. Pour ne pas bloquer votre avancement dans la chasse, nous avons mis en place un syst&egrave;me de pi&egrave;ces. Ces pi&egrave;ces vous permettent d'acheter des indices pour vous remettre dans le droit chemin, voir m&ecirc;me d'acheter la r&eacute;ponse de certaines &eacute;nigmes.</p>

<p>Vous gagnez des pi&egrave;ces en r&eacute;pondant aux &eacute;nigmes, en parrainant des amis, en partageant sur Facebook ou Twitter. Vous pouvez &eacute;galement en acheter.</p>

<h2>R&eacute;compenses</h2>

<p>Pour chaque bonne r&eacute;ponse &agrave; une &eacute;nigme vous obtiendrez et une "r&eacute;compense". Il s'agit des indices permettant de localiser le tr&eacute;sor. Ce sont des &eacute;l&eacute;ments essentiels et des pi&egrave;ces maitresses du jeu. Nous vous encourageons &agrave; bien les conserver.</p>

<p>Il vous faudra trouver par vous-m&ecirc;me comment les utiliser.</p>

<h2>Vous n'&ecirc;tes pas seul</h2>

<p>Nous avons cr&eacute;&eacute; ce jeu par passion alors nous le suivons.</p>
<p>Nous surveillons le jeu, vos r&eacute;ponses, vos cr&eacute;dits et d&eacute;bits de pi&egrave;ces au quotidien, matin, midi et soir. Donc ne vous en faites pas, nous nous assurerons que tout ce passe au mieux pour vous jusqu'au bout. Si les &eacute;nigmes ne sont pas claires, nous les adapterons. Si vos r&eacute;ponses sont valables, nous les validerons. Si personne ne trouve, nous vous aiderons.</p>
<p>Et surtout, si vous &ecirc;tes perdu, si vous avez une question, si vous &ecirc;tes d&eacute;sesp&eacute;r&eacute;, si vous avez un probl&egrave;me, si vous rencontrez un bug, si vous voulez discuter ou simplement nous dire que vous aimez Chassor, n'h&eacute;sitez pas &agrave; nous contacter, nous vous r&eacute;pondrons tr&egrave;s vite. Nous ne pourrons bien sur pas vous donner les r&eacute;ponses mais nous vous aiderons du mieux que nous pourrons.</p>
<p>Nous contacter <a href="mailto:contact@chassor.com">par e-mail</a> ou sur <a href="http://www.facebook.com/chassor">la page Facebook</a></p>			

</div>



{% endblock content %}
		        
