{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}

<div class="textContent">
{% for m in messages %}
   <div class="textContent">
   <p>{{ m.date|date('d/m') }}</p>
   {{ m.message|raw }}
   <hr/>
   </div>
{% endfor %}

</div>
{% endblock content %}
