{%extends "ChassorCoreBundle::layout-black.html.twig" %}

{% block content %}

{% for m in messages %}
   <div class="textContent">
   <p>{{ m.date|date('d/m') }}</p>
   {{ m.message|raw }}
   <hr/>
   </div>
{% endfor %}

{% endblock content %}
