{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}
<div class="textContent">
       <h1>Partenaires</h1>
       
       <div class="whitebloc">
       <a href="http://www.rouentourisme.com/" target="_blank" class="partner"><img src="{{ asset('bundles/chassorcore/img/partners_logo_office.gif') }}" /></a>
       <a href="http://www.madeforweb.fr/" target="_blank" class="partner"><img src="{{ asset('bundles/chassorcore/img/partners_logo_mfw.gif') }}" /></a>
       <a href="http://www.gsaaudiovisuel.com/" target="_blank" class="partner"><img src="{{ asset('bundles/chassorcore/img/partners_logo_gsa.gif') }}" /></a>
       </div>


       </div>
       
{% endblock content %}
