{%extends "ChassorCoreBundle::layout-red.html.twig" %}

{% block content %}
<div class="textContent">
       <h1>R&egrave;glement</h1>
       
       <h2>Article 1 : Organisateurs</h2>
<p>Mathieu Langlois, 10 parc du Cailly - 76130 Mont Saint Aignan et Raphaël Bacco, 25 rue du marais - 76130 Mont Saint Aignan, organise &agrave; partir du 01 juillet 2013, un jeu-concours (ci-apr&egrave;s " le Jeu ") selon les modalit&eacute;s du pr&eacute;sent r&egrave;glement, et accessible depuis le site www.chassor.com</p>

<h2>Article 2 : Conditions de participation </h2>
<p>2.1 Ce jeu est ouvert aux membres inscrits sur le site de www.chassor.com et &agrave; toute personne physique majeure r&eacute;sidant en France m&eacute;tropolitaine, qui d&eacute;sire s'inscrire depuis le site www.chassor.com  </p>
<p>Les organisateurs se r&eacute;servant le droit de proc&eacute;der &agrave; toutes les v&eacute;rifications n&eacute;cessaires concernant l'identit&eacute;, l'adresse postale et / ou &eacute;lectronique des participants. </p>
<p>2.2 Sont exclus de toute participation au pr&eacute;sent jeu et du b&eacute;n&eacute;fice de toute dotation, que ce soit directement ou indirectement l'ensemble du personnel organisateur et partenaire, y compris leur famille et conjoints (mariage, P.A.C.S. ou vie maritale reconnue ou non). </p>
<p>2.3 Les personnes n'ayant pas justifi&eacute; de leurs coordonn&eacute;es et identit&eacute;s compl&egrave;tes ou qui les auront fournies de façon inexacte ou mensong&egrave;re seront disqualifi&eacute;es, tout comme les personnes refusant les collectes, enregistrements et utilisations des informations &agrave; caract&egrave;re nominatif les concernant et strictement n&eacute;cessaires pour les besoins de la gestion des jeux. </p>
<p>2.4 La participation au jeu implique pour tout participant l'acceptation enti&egrave;re et sans r&eacute;serve du pr&eacute;sent r&egrave;glement. Le non respect dudit r&egrave;glement entraîne l'annulation automatique de la participation et de l'attribution &eacute;ventuelle de gratifications.  </p>

<h2>Article 3 : Modalit&eacute; de participation </h2>
<p>Pour participer au jeu, l'internaute devra s'inscrire en compl&eacute;tant le formulaire d'inscription et en remplissant tous les champs obligatoires. <br />
A la fin du jeu, les gagnants seront d&eacute;sign&eacute;s selon leur classement. <br />
Les participants font &eacute;lection de domicile &agrave; l'adresse qu'ils auront indiqu&eacute;e. <br />
Toute inscription incompl&egrave;te, inexacte ou fantaisiste ne sera pas prise en compte. <br />
Les organisateurs se r&eacute;servent le droit de proc&eacute;der &agrave; toutes v&eacute;rifications pour la bonne application du pr&eacute;sent article. <br />
Les organisateurs n'assument aucune responsabilit&eacute; en cas de mauvaise r&eacute;ception ou non-r&eacute;ception des inscriptions par voie &eacute;lectronique, quelle qu'en soit la raison. </p>


<h2>Article 4 : S&eacute;lection des gagnants </h2>
<p>Les gagnants sont d&eacute;sign&eacute;s selon leur classement dans le jeu.<br />
Un seul lot sera attribu&eacute; par gagnant (m&ecirc;me nom, m&ecirc;me adresse). </p>
<p>Les gagnants seront d&eacute;sign&eacute;s apr&egrave;s v&eacute;rification de leur &eacute;ligibilit&eacute; au gain de la dotation le concernant. <br />
Les participants d&eacute;sign&eacute;s seront contact&eacute;s par courrier &eacute;lectronique par l'Organisateur. Si un participant ne se manifeste pas dans le mois suivant l'envoi de ce courrier &eacute;lectronique, il sera consid&eacute;r&eacute; comme ayant renonc&eacute; &agrave; son lot et le lot restera la propri&eacute;t&eacute; de l'Organisateur. <br /> Du seul fait de l'acceptation de son prix, le gagnant autorise l'Organisateur &agrave; utiliser ses nom, pr&eacute;nom, ainsi que l'indication de sa ville et de son d&eacute;partement de r&eacute;sidence dans toute manifestation publi-promotionnelle, sur le site Internet de l'Organisateur et sur tout site ou support affili&eacute;, sans que cette utilisation puisse ouvrir de droit et r&eacute;mun&eacute;ration autres que le prix gagn&eacute;. </p>
<p>Les gagnants devront se conformer au r&egrave;glement. S'il s'av&eacute;rait qu'ils ne r&eacute;pondent pas aux crit&egrave;res du pr&eacute;sent r&egrave;glement, leurs lots ne leur seraient pas attribu&eacute;s. Les participants autorisent toutes les v&eacute;rifications concernant leur identit&eacute;, leur âge, leurs coordonn&eacute;es postales ou la loyaut&eacute; et la sinc&eacute;rit&eacute; de leur participation. A ce titre, l'Organisateur se r&eacute;serve le droit de demander une copie de la pi&egrave;ce d'identit&eacute; du gagnant avant l'envoi de la dotation. Toute fausse d&eacute;claration, indication d'identit&eacute; ou d'adresse fausse entraîne l'&eacute;limination imm&eacute;diate du participant et le cas &eacute;ch&eacute;ant le remboursement des lots d&eacute;j&agrave; envoy&eacute;s. </p>



<h2>Article 5 : Dotations</h2>
<p>Le jeu est compos&eacute; des dotations suivantes : <br />
1e : Tr&eacute;sor, d'une valeur minimale de 200&euro; et dont la valeur finale d&eacute;pendra du nombre de participants au jeu, sur le mod&egrave;le d'une loterie.<br />
2e : Cadeau d'une valeur minimale de 150&euro; et dont la valeur finale d&eacute;pendra du nombre de participants au jeu, sur le mod&egrave;le d'une loterie.<br />
3e : Cadeau d'une valeur minimale de 150&euro; et dont la valeur finale d&eacute;pendra du nombre de participants au jeu, sur le mod&egrave;le d'une loterie.<br />
L'int&eacute;gralit&eacute; des gains des inscriptions au jeu n'est pas remise en dotation.</p>



<h2>Article 6 : Acheminement des lots </h2>
<p>L'Organisateur ne pourra &ecirc;tre tenu pour responsable de l'envoi des dotations &agrave; une adresse inexacte du fait de la n&eacute;gligence du gagnant. Si les lots n'ont pu &ecirc;tre livr&eacute;s &agrave; leur destinataire pour quelque raison que ce soit, ind&eacute;pendamment de la volont&eacute; de L'Organisateur (le gagnant ayant d&eacute;m&eacute;nag&eacute; sans mettre &agrave; jour son adresse, etc...), ils resteront d&eacute;finitivement la propri&eacute;t&eacute; de L'Organisateur. </p>
<p>Les lots ne sont pas interchangeables contre un autre objet, ni contre une quelconque valeur mon&eacute;taire et ne pourront pas donner lieu &agrave; un remboursement partiel ou total.</p>


<h2>Article 7 : Modification et annulation</h2>
<p>Les organisateurs se r&eacute;servent le droit d'annuler, d'&eacute;courter, de prolonger, de suspendre, de modifier ou de reporter le jeu &agrave; tout moment si les circonstances l'exigent, sans que leurs responsabilit&eacute;s ne puissent &ecirc;tre engag&eacute;e sur ces chefs. Dans la mesure du possible, ces modifications ou changements feront l'objet d'une information pr&eacute;alable par tous moyens appropri&eacute;s. </p>



<h2>Article 8 : R&egrave;glement </h2>
<p>Le r&egrave;glement sera consultable pendant toute la dur&eacute;e du jeu &agrave; l'adresse www.chassor.com<br />
Le r&egrave;glement est disponible &agrave; titre gratuit &agrave; toute personne qui en fait la demande &agrave; l'Organisateur du Jeu. <br />
Les timbres li&eacute;s &agrave; la demande &eacute;crite d'une copie du r&egrave;glement seront rembours&eacute;s au tarif lent sur simple demande.</p>



<h2>Article 9 : Donn&eacute;es personnelles </h2>
<p>Il est rappel&eacute; que pour participer Jeu, les joueurs doivent n&eacute;cessairement fournir certaines informations personnelles les concernant (nom, adresse ...). Ces informations sont enregistr&eacute;es et sauvegard&eacute;es dans un fichier informatique et sont n&eacute;cessaires &agrave; la prise en compte de leur participation, &agrave; la d&eacute;termination des gagnants et &agrave; l'attribution et &agrave; l'acheminement des prix. Ces informations sont destin&eacute;es &agrave; l'Organisateur, et pourront &ecirc;tre transmises &agrave; ses prestataires techniques et &agrave; un prestataire assurant l'envoi des prix. </p>
<p>En application de la loi numéro 78-17 du 6 janvier 1978 relative &agrave; l'informatique, aux fichiers et aux libert&eacute;s, les joueurs disposent des droits d'acc&egrave;s, de rectification et de suppression des donn&eacute;es les concernant. Pour exercer ces droits, les joueurs devront envoyer un courrier aux organisateurs. </p>


<h2>Article 10 : Litiges </h2>
<p>Le pr&eacute;sent r&egrave;glement est soumis &agrave; la loi française. <br />
Pour &ecirc;tre prises en compte, les &eacute;ventuelles contestations relatives au jeu doivent &ecirc;tre formul&eacute;es sur demande &eacute;crite aux organisateurs. <br />
Et au plus tard quatre vingt dix (90) jours apr&egrave;s la date limite de participation au Jeu tel qu'indiqu&eacute; au pr&eacute;sent r&egrave;glement.</p>
<p>En cas de d&eacute;saccord persistant sur l'application ou l'interpr&eacute;tation du pr&eacute;sent r&egrave;glement, et &agrave; d&eacute;faut d'accord amiable, tout litige sera soumis au tribunal comp&eacute;tent de Paris, auquel comp&eacute;tence exclusive est attribu&eacute;e. </p>


<h2>Article 11 : Responsabilit&eacute; des organisateurs </h2>
<p>La responsabilit&eacute; des organisateurs ne pourra en aucun cas &ecirc;tre engag&eacute;e en cas d'&eacute;ventuel dysfonctionnement du mode de participation au pr&eacute;sent jeu, li&eacute; aux caract&eacute;ristiques m&ecirc;me de l'Internet, dans ce cas les participants ne pourront pr&eacute;tendre &agrave; aucune contrepartie de quelque nature que ce soit. <br />
Les organisateurs ne garantissent pas que les sites qu'ils exploitent fonctionnent sans interruption ou qu'ils ne contiennent pas d'erreurs informatiques quelconques, ni que les d&eacute;fauts constat&eacute;s seront corrig&eacute;s. </p>
<p>La responsabilit&eacute; des organisateurs ne pourra &ecirc;tre engag&eacute;e en cas d'accidents, de blessure ou d'incidents pouvant toucher les joueurs lors des d&eacute;placements relatifs au jeu.</p>


<h2>Article 12 : Fraudes </h2>
<p>Toute fraude, ou tentative de fraude, manifest&eacute;e par un commencement d'ex&eacute;cution et commise notamment en vue de percevoir ind&ucirc;ment un lot, fera l'objet de poursuites p&eacute;nales, conform&eacute;ment aux dispositions des articles 313-1 et suivants du Code P&eacute;nal.<br />
Toute atteinte au syst&egrave;me de traitement automatis&eacute; de donn&eacute;es sur l'un des sites exploit&eacute;s par les organisateurs fera l'objet de poursuites p&eacute;nales, conform&eacute;ment aux dispositions des articles 323-1 &agrave; 323-7 du Code P&eacute;nal. Tout faux et usage de faux fera l'objet de poursuites p&eacute;nales, conform&eacute;ment aux dispositions des articles 441-1 &agrave; 441-12 du Code P&eacute;nal.</p>
<p>Toute op&eacute;ration ayant pour objet ou pour effet de porter atteinte au secret des correspondances, au secret professionnel ou aux donn&eacute;es relatives &agrave; la vie priv&eacute;e des joueurs fera l'objet de poursuites, conform&eacute;ment aux dispositions civiles et p&eacute;nales en vigueur. En cas de non respect ou de pr&eacute;somption de non respect du pr&eacute;sent r&egrave;glement par un joueur ou en cas d'infraction, de tentative ou de pr&eacute;somption d'infraction de la part d'un joueur susceptible de faire l'objet de poursuites, conform&eacute;ment aux dispositions du pr&eacute;sent article, les organisateurs pourront interdire temporairement, voire d&eacute;finitivement, l'acc&egrave;s de ce joueur &agrave; son compte joueur. </p>
<p>Toute d&eacute;t&eacute;rioration ou destruction des installations du jeu pourra entrainer la disqualification du joueur et la suspension d&eacute;finitive de l'acc&egrave;s &agrave; son compte.</p>


<h2>Article 13 : Remboursement
<p>Les joueurs pourront demander le remboursement des frais d'inscriptions au jeu dans les 15 jours suivants leur inscription &agrave; condition que leur progression dans le jeu soit nulle (qu'ils n'aient r&eacute;pondu &agrave; aucune &eacute;nigme)</p>
       </div>
       
   </div>
       
       </div>

{% endblock content %}
