# divers
/web/bundles/
/app/bootstrap.php.cache
/build/
/vendor/
/bin/
/composer.phar
/src/Acme/

# cache + logs
/app/cache/*
/app/logs/*
/web/css/*
/web/js/*

# parameters
/app/config/parameters.yml

# data
/web/images/*
/web/media/*
/src/Raf/ChassorCoreBundle/Resources/views/EnigmeData/*
/src/Raf/ChassorCoreBundle/Resources/views/MailData/*

/MDD.txt
/.project
/.settings/
/.buildpath

# fichiers vim
*~
*.swp
*.swo

