parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     chassor
    database_user:     chassor
    database_password: chassor

    mailer_transport:  gmail
    mailer_host:       
    mailer_user:       xxx
    mailer_password:   xxx

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt
    
    ga_tracking:           "XX-XX-XX"

    # Paypal
    paypal:
        islive:            true
        live:
            email:         "paiement@chassor.com"
            url:           "https://www.paypal.com/cgi-bin/webscr"
        sandbox:
            email:         "paiement@chassor.com"
            url:           "https://www.sandbox.paypal.com/cgi-bin/webscr"
    
    # transactions
    transaction:
        code_promo:       "AQZE12"
        libelle:
            inscription:   "Inscription"
            inscriptionX:  "Inscription (code promo)"
            pack1:         "Pack 500 Pieces"
            pack2:         "Pack 1000 Pieces"
            pack3:         "Pack 2500 Pieces"
            pack4:         "Pack 5000 Pieces"
            pack5:         "Pack 10000 Pieces"
            twitter:       "Partage Twitter"
            facebook:      "Partage Facebook"
        prix: 
            inscription:   5
            inscriptionX:  4
            pack1:         1.5
            pack2:         2.5
            pack3:         4.5
            pack4:         7
            pack5:         10
        pieces:
            inscription:   500
            inscriptionX:  500
            pack1:         500
            pack2:         1000
            pack3:         2500
            pack4:         5000
            pack5:         10000
            parrain:       200
            twitter:       100
            facebook:      100
    enigme:
        prix:
            difficulte1:    2000
            difficulte2:    5000
            difficulte3:    10000
        gain:
            niveau1:       1
            niveau2:       20
            niveau3:       100
            gain1:         400
            gain2:         150
            gain3:         75
        indice:
            prix:          300
