{%extends "ChassorCoreBundle::layout.html.twig" %}


{% block body %}

<ul>
{% for e in enigmes %}
<li><a href="enigme-{{ e.enigme.code }}">
    {{ e.enigme.code }} - {{ e.enigme.titre }}
    {% if e.valide %}(OK){% else %}(...){% endif %}</a></li>
{% endfor %}
</ul>

{% endblock %}
