{%extends "ChassorCoreBundle:Enigme:enigme-layout.html.twig" %}


{% block enigme %}

<div class="well">
    <a href="{{ path('enigmeImage', {code: enigme.code, image_id: '1'}) }}" rel="lightbox" title="aze">
    <img src="{{ path('enigmeImage', {code: enigme.code, image_id: '1b'}) }}" class="img-polaroid" alt="Enigme A1" />
    </a>

<form method="post">
    <div>
        <label for="question" class="required">Combien de livre contient cette photo ?</label>
        <input type="text" id="question" name="reponse" required="required" maxlength="255"
        {% if proposition.valide %}
        value="{{ proposition.reponse }}" readonly
        {% endif %}
        />
    </div>
    <div>
        {% if not proposition.valide %}
        <input type="submit" value="Valider" class="btn btn-primary" /><br/>
        {% endif %}
    </div>
</form>
</div>
{% endblock %}
