{%extends "ChassorCoreBundle::layout.html.twig" %}


{% block body %}

<ul>
{% for e in enigmes %}
<li><a href="enigme-{{ e.enigme.code }}">
    {{ e.enigme.code }}
    {% if e.valide %}(validée){% else %}(en cours...){% endif %}</a></li>
{% endfor %}
</ul>

{% endblock %}
