{%extends "ChassorCoreBundle:Enigme:layout-enigme.html.twig" %}
 
{% set note = 'bla bla' %}
{% set plceholder = 'jj/mm/aaaa' %}
 
{% block enigme %}
 
<p>J'ai aussi mis la main sur une lettre qui a l'air beaucoup plus ancienne que
la plupart des documents que j'ai pu consulter jusque là au grenier. Pop semble
lui avoir accordé une importance toute particulière.</p>
<p>L'auteur n'a pas daté son courrier, mais peut-être saurez-vous m'aider à mieux
la situer dans le temps : pourquoi Pop l'a-t-il conservée aussi précieusement,
alors qu'elle relate, ma foi, un événement plutôt anodin ?</p>
 
{% endblock enigme %}
 
{% block enigme2 %}
 
<p>Bravo !</p>
{% endblock enigme2 %}
