{% set bodyClass = 'red' %}
{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block body %}

<div class="redWrapper">
<form method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}
    <input type="submit" class="btn btn-primary" />
</form>
</div>


{% endblock %}
