{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block adminContent %}
<form method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}
    <input type="submit" value="Créer" class="btn btn-primary inputSubmit" />
</form>

{% endblock adminContent %}
