{% extends "ChassorCoreBundle::layout-user.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Bienvenue {{ user.username }}, votre compte est créé.</p>
    <p>Pour finaliser votre inscription, il faut payer : <a href="{{ path("activation") }}">Finaliser mon inscription</a></p>
{% endblock fos_user_content %}
