{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block adminContent %}

<h1>Les indices</h1>
<a class="btn" href="{{ path('admin_indice_ajouter') }}">(+)</a>

<table class="stupid">
<thead>
<tr>
    <th class="sort" data-sort="string">Enigme</th>
    <th>Indice</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for indice in liste %}
<tr>
    <td>{{ indice.enigme.code }}</td>
    <td>{{ indice.indice }}</td>
    <td>
        <a class="btn" href="{{ path('admin_indice_modifier',  {'id': indice.id }) }}">(M)</a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock adminContent %}
