{%extends "ChassorCoreBundle::layout.html.twig" %}


{% block body %}
<div>
Nous vous remercions de votre paiement.
Votre transaction est en cours de traitement, elle sera finalisée dans les plus bref délais.
Vous recevrez par email un avis accusant réception de votre achat.
</div>
{% endblock %}
