{% extends "ChassorAdminBundle::admin-layout.html.twig" %}
 
{% block body %}

<h1>Les messages</h1>
<a class="btn" href="{{ path('admin_message_ajouter') }}"><i class="icon-plus" title="ajouter"></i></a>

<table class="table table-striped table-hover table-condensed table-bordered stupid">
<thead>
<tr>
    <th class="sort" data-sort="date">Date</th>
    <th class="sort" data-sort="string">Message</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for message in liste %}
<tr>
    <td>{{ message.date|date("d/m/Y H:i") }}</td>
    <td>{{ message.message }}</td>
    <td>
        <a class="btn" href="{{ path('admin_message_modifier',  {'id': message.id }) }}"><i class="icon-pencil" title="modifier"></i></a>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
 
{% endblock %}
